.pubflights_3u,
.pubflights_8c,
.pubflights_8l,
.pubflights_bk,
.pubflights_ca,
.pubflights_cn,
.pubflights_cz,
.pubflights_eu,
.pubflights_fm,
.pubflights_g5,
.pubflights_gs,
.pubflights_ho,
.pubflights_hu,
.pubflights_kn,
.pubflights_mf,
.pubflights_mu,
.pubflights_ns,
.pubflights_pn,
.pubflights_sc,
.pubflights_zh,
.pubflights_vd,
.pubflights_jr,
.pubflights_ky,
.pubflights_tv,
.pubflights_9c,
.pubflights_jd,
.pubflights_g8,
.pubflights_gj,
.pubflights_dz,
.pubflights_yi,
.pubflights_qw,
.pubflights_dr,
.pubflights_uq,
.pubflights_fu,
.pubflights_aq,
.pubflights_gx,
.pubflights_oq,
.pubflights_a6,
.pubflights_gy,
.pubflights_y8{background:url(//pic.english.c-ctrip.com/common_v3/flight-logo-domastic-28.png) no-repeat top left;display:inline-block;width:0px;height:28px;margin-right:3px;padding-left:28px;vertical-align:middle;}
.pubflights_3u{background-position:0 0;}
.pubflights_8c{background-position:0 -56px;}
.pubflights_8l{background-position:0 -112px;}
.pubflights_bk{background-position:0 -168px;}
.pubflights_ca{background-position:0 -224px;}
.pubflights_cn{background-position:0 -280px;}
.pubflights_cz{background-position:0 -336px;}
.pubflights_eu{background-position:0 -392px;}
.pubflights_fm{background-position:0 -448px;}
.pubflights_g5{background-position:0 -504px;}
.pubflights_gs{background-position:0 -560px;}
.pubflights_ho{background-position:0 -616px;}
.pubflights_hu{background-position:0 -672px;}
.pubflights_kn{background-position:0 -728px;}
.pubflights_mf{background-position:0 -784px;}
.pubflights_mu{background-position:0 -840px;}
.pubflights_ns{background-position:0 -896px;}
.pubflights_pn{background-position:0 -952px;}
.pubflights_sc{background-position:0 -1008px;}
.pubflights_zh{background-position:0 -1064px;}
.pubflights_vd{background-position:0 -1120px;}
.pubflights_jr{background-position:0 -1176px;}
.pubflights_ky{background-position:0 -1232px;}
.pubflights_tv{background-position:0 -1288px;}
.pubflights_9c{background-position:0 -1344px;}
.pubflights_jd{background-position:0 -1400px;}
.pubflights_g8{background-position:0 -1456px;}
.pubflights_gj{background-position:0 -1512px;}
.pubflights_dz{background-position:0 -1568px;}
.pubflights_yi{background-position:0 -1624px;}
.pubflights_qw{background-position:0 -1680px;}
.pubflights_dr{background-position:0 -1736px;}
.pubflights_uq{background-position:0 -1792px;}
.pubflights_fu{background-position:0 -1848px;}
.pubflights_aq{background-position:0 -1904px;}
.pubflights_gx{background-position:0 -1960px;}
.pubflights_oq{background-position:0 -2016px;}
.pubflights_a6{background-position:0 -2072px;}
.pubflights_gy{background-position:0 -2128px;}
.pubflights_y8{background-position:0 -2184px;}
